<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644038196152-2bo0v8lnhj7bmbc55jq8di6eb9o6ao5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644038196152-2bo0v8lnhj7bmbc55jq8di6eb9o6ao5n</string>
	<key>API_KEY</key>
	<string>AIzaSyB-6yKJBdcDBlJdARjw3e7BOyIhYjRdgdw</string>
	<key>GCM_SENDER_ID</key>
	<string>644038196152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foytingo.flashChatFoytingoV2</string>
	<key>PROJECT_ID</key>
	<string>flashchat-foytingo</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-foytingo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644038196152:ios:4be4f6b0c5d7716080ed4d</string>
</dict>
</plist>